header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border: 10px;

  width: 100%;

}

span {
  padding: 10px;
}

.logo {
  display: flex;
  border: 1px solid black;
  align-items: center;
  padding-left: 30px;

}

nav {
  justify-content: flex-end;
  padding: 30px;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 32px;

}

.column.large {
  width: 630px;
  border: 1px solid black;
  margin-right: 32px;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
  margin-right: 32px;
}

.column.small {
  width: 240px;
  border: 1px solid black;
  margin-right: 32px;
}

.content  {
    display: flex;
    border: 1px solid black;

}

.story {
    border: 1px solid black;
}

.stories {
    border: 1px solid black;
}

.image-content {
    border: 1px solid black;
}

.news-bites {
    border: 1px solid black;
}
