header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  border: 10px;
}

.logo {
  display: flex;
  border: 1px solid black;

}

nav {
  display: inline-flex;
}

.column {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.column.large {
  display: inline-flex;
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  display: inline-flex;
  width: 300px;
  border: 1px solid black;
}

.column.small {
  display: inline-flex;
  width: 240px;
  border: 1px solid black;
}

.content  {
    border: 1px solid black;
}
